html, body {
    margin:0;
    padding:0; 
    position: relative; 
    width:auto; 
}

.apple {
    background-color: aqua;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    
}